:root {
  --accent-color: #adb4d1;
  --hover-color: #e8eefa;
  --hover-color-darker: #d9e1f1;
}

.share-save-wrapper {
  margin-bottom: 1em;
}

.share-save-btn {
  width: 160px;
  margin-bottom: 10px;
}

#favs-list-modal > div {
  max-width: 40em;
}

.modal-sticky-header {
  position: sticky;
  top: -1.5em; /* Hacky way to cover the top with the background */
  z-index: 2;
  background: #fff;
}

.close-form {
  position: absolute;
  top: 0;
  right: -1.5rem;
}

.modal-header {
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .backup-buttons {
  margin-right: 1em;
  display: flex;
  gap: 0.5em;
}

#favs-list li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  transition: background 0.2s;
  margin: 0.2em 0;
  padding: 0.3em;
}

#favs-list li:hover {
  background: var(--hover-color);
}

#favs-list img.list-thumbnail {
  width: 64px;
  height: 64px;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#favs-list .info-container {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

#favs-list .location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

#favs-list .location-text {
  display: flex;
  flex-direction: column;
}

#favs-list .small-info-text {
  /* font-style: italic; */
  font-size: 10px;
  color: rgb(128, 128, 128);
}

#favs-list a {
  word-break: break-word;
}

#favs-list a:hover {
  color: rgb(54, 74, 185);
}

#favs-list .left-group {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

#favs-list .buttons-group {
  display: flex;
}

#favs-list button.list-btn {
  background: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  transition: background 0.2s;
  padding: 0.6em;
  margin-left: 5px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.2s,
    opacity 0.2s;
}

#favs-list li:hover button.list-btn {
  visibility: visible;
  opacity: 1;
}

#favs-list li button.list-btn:hover {
  background: var(--hover-color-darker);
}